<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        @font-face {
            font-family: "Bolder";
            src:
                    url("/fonts/bolder/Bolder-Light.woff2") format("woff2"),
                    url("/fonts/bolder/Bolder-Light.woff") format("woff");
            font-style: normal;
            font-weight: 300;
        }

        @font-face {
            font-family: "Bolder";
            src:
                    url("/fonts/bolder/Bolder-Regular.woff2") format("woff2"),
                    url("/fonts/bolder/Bolder-Regular.woff") format("woff");
            font-style: normal;
            font-weight: 400; // 400
        }

        @font-face {
            font-family: "Bolder";
            src:
                    url("/fonts/Bolder-RegularItalic.woff2") format("woff2");
        url("/fonts/Bolder-RegularItalic.woff") format("woff");
            font-style: italic;
            font-weight: normal; // 400
        }

        @font-face {
            font-family: "Bolder";
            src:
                    url("/fonts/Bolder-Bold.woff") format("woff");
        url("/fonts/Bolder-Bold.woff2") format("woff2");

            font-style: normal;
            font-weight: bold; // 700
        }

        body {
            margin: 10px;
            background-color: #ffffff; /* Background color */
            font-size: 16px; /* Default font size */
            font-family: Bolder;
        }

        /* Media query for iPhone 12 */
        @media screen and (max-width: 390px) {
            body {
                margin: 5px; /* Adjust margin for smaller screens */
                font-size: 14px; /* Adjust font size for smaller screens */
            }
        }
    </style>
    {% block stylesheets %}{% endblock %}
</head>

<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
